<script src="{{ 'form-handler.js' | asset_url }}?v={{ 'now' | date: '%s' }}" defer></script>
<script src="{{ 'modal.js' | asset_url }}?v={{ 'now' | date: '%s' }}" defer></script>


<div id="reserve-modal-{{ product.id }}" class="reserve-modal" aria-hidden="true">
  <div class="reserve-modal__overlay" data-modal-close></div>
  <div class="reserve-modal__content" role="dialog" aria-modal="true">
    <button type="button" class="reserve-modal__close" data-modal-close aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
        <path d="M1 1L13.7959 13.7954" stroke="#0072CE" stroke-width="2" stroke-linecap="round"/>
        <path d="M13.7959 1L1.00049 13.7959" stroke="#0072CE" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>

    <div class="reserve-modal__header">
        <h2 class="reserve-title">{{ block.settings.form_title }}</h2>
        <h3 class="reserve-price price price--large">{{ product.price | money_with_currency }}&nbsp;<span class="price-freight">+ Freight</span></h3>
    </div>

    <div class="reserve-modal__body">
      {% if block.settings.form_description != blank %}
        {{ block.settings.form_description }}
      {% endif %}


      <form class="reserve__form" onsubmit="return false;">
        <p class="required-message">*Required fields</p>

        <div class="form-field is-required">
          <label for="practice_name">Practice name</label>
          <input type="text" id="practice_name" name="practice_name" placeholder="e.g. Smile Dental" required>
        </div>
        
        <div class="form-field is-required">
          <label for="zip_code">Practice ZIP/Postal code</label>
          <input type="text" id="zip_code" name="zip_code" pattern="[0-9]{5}" title="Please enter a valid 5-digit zip code" required>
        </div>
        
        <div class="form-field is-required">
          <label for="email">Contact email</label>
          <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-field is-required">
          <label for="role">Your role?</label>
          <select id="role" name="role" required>
            <option value="" disabled selected>&ndash;&nbsp;Select your role&nbsp;&ndash;</option>
            <option value="doctor">Doctor or practice staff</option>
            <option value="dealer">A-dec dealer</option>
            <option value="sales">A-dec sales team</option>
          </select>
        </div>
        
        <div class="form-field">
          <button type="submit" class="reserve__submit-button">{{ block.settings.submit_button_text }}</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Reserve Product Form",
    "target": "section",
    "stylesheet": "reserve-product.css",
    "settings": [
      {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "Reserve Product"
      },
      {
        "type": "richtext",
        "id": "form_description",
        "label": "Form Description",
        "default": "<p>Reserve this package by filling out the form below. We will place a no-cost hold for <strong>2 business days</strong>. During that time, please work with an <a href='' title='A-dec 511R Dental Chair Package'>A-dec Territory Manager or Dealer</a> to complete the sale.</p>"
      },
      {
        "type": "text",
        "id": "submit_button_text",
        "label": "Submit Button Text",
        "default": "Reserve package"
      }
    ]
  }
{% endschema %}